.search-form {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.search {
  background-color: rgba(0, 0, 0, 69%);
  border: 1px solid transparent;
  width: 250px;
  height: 30px;
  border-radius: 90px;

  padding: 7px 20px;
  font-size: 14px;
}
.search:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 80%);
}
