@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
svg path {
  stroke: white;
  border: none;
}

.img-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
}

.background-weather-data {
  background-color: rgba(0, 0, 0, 69%);

  width: 100%;

  position: absolute;
  bottom: 0;
  padding: 32px;
}
.info-weather {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  max-width: 900px;
}

.details-temp {
  margin-top: 40px;
}

.am-pm {
  font-weight: 500;
  padding-left: 6px;
}
.w-body {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  filter: brightness(1);
}

@media screen and (min-width: 700px) {
  .info-weather {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 50px;
  }

  .background-weather-data {
    padding-top: 52px;
    padding-bottom: 52px;
  }
  .details-temp {
    margin-top: 0;
  }
}
