@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: 400;
}
span {
  font-size: 20px;
}
.img-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.search {
  background-color: rgba(0, 0, 0, 69%);
  border: none;
  width: 400px;
  height: 40px;
  border-radius: 90px;

  padding: 7px 20px;
  font-size: 16px;
}

.info-weather {
  background-color: rgba(0, 0, 0, 69%);
  width: 100%;
  height: 400px;
  position: absolute;
  bottom: 0;
  padding: 0 285px;
}

.temperature {
  display: flex;
  flex-direction: column;

  width: 390px;
}

.temperature-celcius {
  display: flex;
  gap: 16px;
}

.temperature-value {
  font-size: 130px;
  font-weight: 600;
}

.temperature-type {
  font-size: 60px;
  font-weight: 200;
  padding-top: 16px;
}
